.Header {
  display: grid;
  position: sticky;
  top: 0px;
  z-index: 20;
  grid-template-columns: repeat(30, 1fr);
  align-items: center;
  padding: 15px;
  color: #484848;
  background: linear-gradient(to bottom, #f7f7f7 0%, white 99%, white 100%);
}

.Header__logo {
  grid-column: 1/1;
  display: flex;
}

.Header__logo-letter {
  color: #222;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
}

.Header__logo-letter:nth-child(2) {
  color: red;
  transform: rotateY(180deg);
}

.Header__avatar {
  grid-column: 30/31;
}

.Header__link {
  text-decoration: none;
}

