.CryptoCard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 0.3s ease-in-out;
  width: 350px;
  border-radius: 5px; }

.CryptoCard:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.CryptoCard div {
  padding: 5px 25px 5px 25px;
  display: flex;
  justify-content: space-between; }

.CryptoCard div:first-of-type {
  margin-top: 10px; }

.CryptoCard div:last-of-type {
  margin-bottom: 10px; }

.CryptoCard h1 {
  padding: 5px 25px 5px 25px;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.binanceGeneralStyle {
  background-color: #3d3d3d;
  color: #f3ba2f; }

.bittrexGeneralStyle {
  background-color: #d6d6d6;
  color: #28303a; }

.kucoinGeneralStyle {
  background-color: white;
  color: #0e75ee; }

.binanceHeadStyle {
  background-color: #f3ba2f;
  color: #3d3d3d; }

.bittrexHeadStyle {
  background-color: #28303a;
  color: #d6d6d6; }

.kucoinHeadStyle {
  background-color: #0e75ee;
  color: white; }
