.CryptoCard {
  --shadow-crypto-card: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: var(--shadow-crypto-card);
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 0.3s ease-in-out;
  width: 350px;
  min-height: 310px;
  border-radius: 5px;
}

.CryptoCard:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.CryptoCard div {
  padding: 5px 25px 5px 25px;
  display: flex;
  justify-content: space-between;
}
.CryptoCardBody {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}
.CryptoCardHeader {
  padding: 5px 25px 5px 25px;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
}

.CryptoCard__binance-general-style,
.CryptoCardHeader__binance-general-style,
.CryptoCardBody__binance-general-style {
  background-color: #3d3d3d;
  color: #f3ba2f;
}

.CryptoCard__bittrex-general-style,
.CryptoCardHeader__bittrex-general-style,
.CryptoCardBody__bittrex-general-style {
  background-color: #d6d6d6;
  color: #28303a;
}

.CryptoCard__kucoin-general-style,
.CryptoCardHeader__kucoin-general-style,
.CryptoCardBody__kucoin-general-style {
  background-color: white;
  color: #0e75ee;
}

.CryptoCardHeader__binance-head-style {
  background-color: #f3ba2f !important;
  color: #3d3d3d !important;
}

.CryptoCardHeader__bittrex-head-style {
  background-color: #28303a !important;
  color: #d6d6d6 !important;
}

.CryptoCardHeader__kucoin-head-style {
  background-color: #0e75ee !important;
  color: white !important;
}
.CryptoCardHeader__new-input,
.CryptoCardBody__new-input {
  outline: none;
  border-radius: 3px;
  font-size: 17px;
  max-width: 130px;
  box-shadow: var(--shadow-crypto-card);
}

.CryptoCardBody__new-input-number {
  outline: none;
  border-radius: 3px;
  font-size: 17px;
  max-width: 100px;
  box-shadow: var(--shadow-crypto-card);
}
.CryptoCardHeader--to-upper-case {
  text-transform: uppercase;
}
.CryptoCardHeader__form {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.CryptoCardHeader__logo-crypto {
  width: 40px;
  height: 40px;
}
.CryptoCard.draggable {
  animation: draggable 0.5s infinite ease-out;
}

/* Standard syntax */
@keyframes draggable {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
