@mixin generalStyle($backgroundColor, $color) {
    background-color: $backgroundColor;
    color: $color;
}

@mixin headStyle($backgroundColor, $color) {
    background-color: $backgroundColor;
    color: $color;
}

.CryptoCard {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: box-shadow 0.3s ease-in-out;
    width: 350px;
    min-height: 310px;
    border-radius: 5px;
}

.CryptoCard:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.CryptoCard img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.CryptoCard .toUpperCase {
    text-transform: uppercase
}

.CryptoCard div {
    padding: 5px 25px 5px 25px;
    display: flex;
    justify-content: space-between;
}

.CryptoCard div:first-of-type {
    margin-top: 10px;
}

.CryptoCard div:last-of-type {
    margin-bottom: 10px;
}

.CryptoCard h1 {
    padding: 5px 25px 5px 25px;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

.CryptoCard .newInput {
    outline: none;
    border-radius: 3px;
    font-size: 17px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.CryptoCard.binanceGeneralStyle,
.binanceGeneralStyle {
    @include generalStyle(#3d3d3d, #f3ba2f);
}

.CryptoCard.bittrexGeneralStyle,
.bittrexGeneralStyle {
    @include generalStyle(#d6d6d6, #28303a);
}

.CryptoCard.kucoinGeneralStyle,
.kucoinGeneralStyle {
    @include generalStyle(white, #0e75ee);
}

.CryptoCard .binanceHeadStyle {
    @include headStyle(#f3ba2f, #3d3d3d);
}

.CryptoCard .bittrexHeadStyle {
    @include headStyle(#28303a, #d6d6d6);
}

.CryptoCard .kucoinHeadStyle {
    @include headStyle(#0e75ee, white);
}