.CryptoCard {
  --shadow-crypto-card: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: var(--shadow-crypto-card);
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 0.3s ease-in-out;
  width: 350px;
  min-height: 310px;
  border-radius: 5px;
}

.CryptoCard:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.CryptoCard div {
  padding: 5px 25px 5px 25px;
  display: flex;
  justify-content: space-between;
}
.CryptoCardBody {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}
.CryptoCardHeader {
  padding: 5px 25px 5px 25px;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
}

.CryptoCard.binanceGeneralStyle,
.CryptoCardHeader .binanceGeneralStyle,
.CryptoCardBody .binanceGeneralStyle {
  background-color: #3d3d3d;
  color: #f3ba2f;
}

.CryptoCard.bittrexGeneralStyle,
.CryptoCardHeader .bittrexGeneralStyle,
.CryptoCardBody .bittrexGeneralStyle {
  background-color: #d6d6d6;
  color: #28303a;
}

.CryptoCard.kucoinGeneralStyle,
.CryptoCardHeader .kucoinGeneralStyle,
.CryptoCardBody .kucoinGeneralStyle {
  background-color: white;
  color: #0e75ee;
}

.CryptoCardHeader .newInput,
.CryptoCardBody .newInput {
  outline: none;
  border-radius: 3px;
  font-size: 17px;
  max-width: 130px;
  box-shadow: var(--shadow-crypto-card);
}
.CryptoCardBody .newInputNumber {
  outline: none;
  border-radius: 3px;
  font-size: 17px;
  max-width: 100px;
  box-shadow: var(--shadow-crypto-card);
}
.CryptoCardHeader .toUpperCase {
  text-transform: uppercase;
}
.CryptoCardHeader form {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.CryptoCardHeader img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.CryptoCardHeader.binanceHeadStyle,
.CryptoCardHeader .binanceHeadStyle {
  background-color: #f3ba2f;
  color: #3d3d3d;
}

.CryptoCardHeader.bittrexHeadStyle,
.CryptoCardHeader .bittrexHeadStyle {
  background-color: #28303a;
  color: #d6d6d6;
}

.CryptoCardHeader.kucoinHeadStyle,
.CryptoCardHeader .kucoinHeadStyle {
  background-color: #0e75ee;
  color: white;
}
